.header{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100px;
}


body{ height: 300vh;}

.textSpace{
font-weight: bold;

}


#animationElement{
    background-color: aqua;
height: 50px;
width: 200px;
transition: all 0.3s;

}

.animate{
    
    width: 400px;
    border-radius: 25px;

      /* Define animation properties */
  animation-name: fadeIn; /* Name of the keyframes animation */
  animation-duration: 5s; /* Duration of the animation */
  animation-fill-mode: forwards; /* Keep the last keyframe when animation ends */

}

/* Define keyframes for the animation */
@keyframes fadeIn {
    from {
      opacity: 0; /* Start state */
    }
    to {
      opacity: 1; /* End state */
    }
  }